[submodule "lib/alice"]
	path = lib/alice
	url = https://github.com/msoeken/alice.git
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/panhomyoung/mockturtle.git
[submodule "lib/abc"]
	path = lib/abc
	url = https://github.com/panhomyoung/abc.git